<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One Resto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.ico"/>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
	<header>
		<a id="hamburger" href="#">☰</a>		
		<span class="app_name">
			One Resto
		</span>
		<nav id="drawer">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="#">Favorite</a>
				</li>
				<li>				
					<a href="https://www.linkedin.com/in/onesinus/" target="_blank">About Us</a>
				</li>					
			</ul>
		</nav>
	</header>
	<section class="jumbotron">
		<img src="./images/heros/hero-image_4.jpg" width="450" alt="Jumbotron: Great taste for your day!">
		<div class="text-block">
			<h4>Uniqueness</h4>
			<p>Great taste for your day!</p>
		</div>
	</section>
	<main id="maincontent">
		<h5 class="title mt2">Our Branches</h5>
		<div class="cards m2">
			<!-- Content is loaded by javascript -->
		</div>
	</main>
	<footer>
		copyright@2021 - OneResto App
	</footer>
</body>
</html>
