<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One Resto</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="description" content="One Resto for Great taste">
	<meta name="theme-color" content="#006442"/>

	<link rel="icon" type="image/png" href="/images/favicon.ico"/>
	<link rel="manifest" href="manifest.json">
	<link rel="apple-touch-icon" href="/icons/icon-192x192.png">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
	<header>
		<button 
			id="hamburger" 
			aria-label="Click to open sidebar menu"
		>
			☰
		</button>
		<span class="app_name">
			One Resto
		</span>
		<nav id="drawer">
			<ul>
				<li>
					<a href="#/home">
						<i class="fa fa-home"></i> Home
					</a>
				</li>
				<li>
					<a href="#/favorite">
						<i class="fa fa-heart"></i> Favorite
					</a>
				</li>
				<li>				
					<a 
						href="https://www.linkedin.com/in/onesinus/" 
						target="_blank"
						rel="noopener"
					>
						<i class="fa fa-user"></i> About Me
					</a>
				</li>					
			</ul>
		</nav>
	</header>
	<section class="jumbotron">
		<picture>
			<source 
				class="lazyload"
				media="(max-width: 600px)" 
				type="image/webp" 
				srcset="./images/heros/hero-image-sm.webp"
			>
			<source 
				class="lazyload"
				type="image/webp" 
				srcset="./images/heros/hero-image-lg.webp"
			>
			<source 
				class="lazyload"
				type="image/webp" 
				srcset="./images/heros/hero-image.webp"
			>
			<img 
				class="lazyload"
				src="./images/heros/hero-image.jpg" 
				alt="Jumbotron: Great taste for your day!"
			>
		</picture>		
		<div class="text-block">
			<h4>Uniqueness</h4>
			<p>Great taste for your day!</p>
		</div>
	</section>
	<main id="maincontent"></main>
	<footer>
		copyright@2021 - OneResto App
	</footer>
</body>
</html>
