.card-item {
	padding: 26px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
	text-align: center;
}


.card-body h5, .card-body h6 {
	text-align: center;
}

.card-body h5 {
	font-size: 16pt;
}

.card-body h6 {
	margin-top: 1%;
	font-size: 14pt;
}

.card-body .description {
	margin-top: 2%;
	padding: 5%;
	font-size: 12pt;
	text-align: justify;
	text-justify: inter-word;
}

.card-item img {
	border-radius: 3%;
}