* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

a, button {
	min-width: 44px;
	min-height: 44px;
}

body, #drawer, main {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

#drawer {
	overflow-y: hidden;
}

header {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.app_name {
	padding: 5%;
	font-variant: small-caps;
	font-family: 'Helvetica Neue';
	font-weight: 500;
}

#drawer {
	z-index: 99;
	width: 100%;
	margin-top: 18%;
	position: absolute;
	transform: translate(-100%, 0);
	transition: transform 0.3s ease-in-out;
	background-color: #111;
	top: 0;
}

#drawer.open {
	transform: translate(0,0);
}

#hamburger {
	padding-top: 10%;
	font-size: 24pt;
	margin-left: 30%;
	width: 30%;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

#drawer ul {
	padding: 0 24px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);	
}

#drawer li {
	padding: 18px 0;
}

#drawer a {
	display: inline-block;
	color: white;
	font-size: 14pt;
}


ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
	font-size: 40pt;
	min-width: 44px;
	min-height: 44px;
}

a:hover {
	border-bottom: 1px dashed black;
}


.jumbotron {
	position: relative;
	margin-top: 3%;
}

.jumbotron img {
    display: block;
	width: 100%;
	/* min-width: 420px; */
    object-fit: cover;
}

h4 {
	font-size: 30pt;
}

.jumbotron p {
	font-size: 24pt;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}


.title {
	font-size: 24pt;
	font-weight: 500;
	text-align: center;
}

footer {
	text-align: center;
	font-size: 18pt;
	padding: 0.5%;
}

.skip-link {
   position: absolute;
   top: -80px;
   left: 0;
   background-color: #bf1722;
   color: white;
   padding: 8px;
   z-index: 100;
   font-size: 10pt;
}
 
.skip-link:focus {
   top: 0;
}

.m2 {
	margin: 2%;
}

.mt2 {
	margin-top: 2%;
}

.mt3 {
	margin-top: 3%;
}

.mt4 {
	margin-top: 4%;
}

.mb4 {
	margin-bottom: 4%;
}

.text-center {
	text-align: center;
}

.nobold {
	font-weight: 500;
}

.fa {
	color: green;
}

.favorite {
	font-size:30px;
	color: white;
	border: 0;
	border-radius: 10%;
	width: 55px;
	height: 55px;
	cursor: pointer;
}